$image_menu: "https://i.pinimg.com/originals/9d/00/bf/9d00bf8f07cdf24c17336982c1c6889c.jpg";
$image_foto: "images/Neo.jpeg";
$color_anclas: #fff;
$bg_anclas: #2175bc;
$size_anclas: 25px;
$font_anclas: Arial, Helvetica, sans-serif;
$font_contenido: 'Calibri', sans-serif;
$color_titulo: rgb(102, 102, 102);
$size_titulo: 25px;
$color_subittulo: rgb(54, 47, 97);
$font_form: #f2f2f2;
$size_form: 20px;
$color_form: #2175bc;
$color_bt_form: #4CAF50;
$color_bt_tx_form: #fff;
$bt_size_form: 20px;
$breakpoint_mobile: 620px;
$breakpoint_responsive: 1300px;