$color_anclas: #fff;
$bg_anclas: #2175bc;
$size_anclas: 25px;
$font_anclas: Arial, Helvetica, sans-serif;
$font_contenido: 'Calibri', sans-serif;
$color_titulo: rgb(102, 102, 102);
$color_subittulo: rgb(54, 47, 97);
$font_form: #f2f2f2;
$size_form: 20px;
$color_form: #2175bc;